main {
  background: var(--main-bg-page, #fbf8ec);
}
main .hero {
  background: #fff;
  display: flex;
  overflow-x: hidden;
  position: relative;
}
main .hero .hero-contents {
  position: absolute;
  left: 215px;
  display: flex;
  align-items: center;
  gap: 18px;
}
main .hero .hero-contents h1 {
  color: var(--main-on-surface, #414141);
  text-align: center;
  /* Desc/Header/L */
  font-family: Rubik;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 72px */
}
main .products .content .link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 40px;
}
main .products .content .link h2 {
  color: var(--main-on-surface, #414141);
  /* Desc/Header/M */
  font-family: Rubik;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 54px */
}
main .products .content .link a {
  color: var(--grayscale-hardest, #606060);
  text-align: center;
  /* Desc/Text/S */
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
main .products .content .cards {
  padding-bottom: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
main .products .content .cards .card {
  border-radius: 4px;
  background: var(--main-surface, #fff);
  /* Default/XS */
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
  width: 272px;
  padding-bottom: 8px;
  transition: 0.4s;
}
main .products .content .cards .card:hover {
  box-shadow: 4px 8px 16px 0px rgba(255, 102, 51, 0.2);
}
main .products .content .cards .card .content {
  padding: 8px;
}
main .products .content .cards .card .content .prices {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .products .content .cards .card .content .prices .text h3 {
  color: var(--grayscale-hardest, #606060);
  /* Desc/Text/S */
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
main .products .content .cards .card .content .prices .text h3 b {
  color: var(--main-on-surface, #414141);
  /* Desc/Text-Bold/M */
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 27px */
}
main .products .content .cards .card .content .prices .text p {
  color: #bfbfbf;
  /* Desc/Text/XS */
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
main .products .content .cards .card .content p {
  color: var(--main-on-surface, #414141);
  /* Desc/Text/S */
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  padding: 8px 0;
}
main .products .content .cards .card .content a {
  padding: 8px 88px;
  border-radius: 4px;
  border: 1px solid var(--main-secondary, #70c05b);
  color: var(--main-secondary, #70c05b);
  text-align: center;
  /* Desc/Text/S */
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  transition: 0.5s;
}
main .products .content .cards .card .content a:hover {
  color: #fff;
  background: var(--main-primary, #f63);
  border: 1px solid #f63;
}
main .sale .content {
  padding-bottom: 120px;
}
main .sale .content h3 {
  color: var(--main-on-surface, #414141);
  /* Desc/Header/M */
  font-family: Rubik;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 54px */
  padding-bottom: 40px;
}
main .sale .content .cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
main .sale .content .cards .card {
  max-width: 584px;
  height: 200px;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 31px 8px 40px;
}
main .sale .content .cards .card .texts h4 {
  color: var(--main-on-surface, #414141);
  /* Desc/Header/S */
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
}
main .sale .content .cards .card .texts p {
  color: var(--main-on-surface, #414141);
  /* Desc/Text/S */
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
main .sale .content .cards .card-1 {
  border-radius: 4px;
  background: var(--main-primary-muted, #fcd5ba);
}
main .sale .content .cards .card-1:hover {
  box-shadow: 0px 8px 16px 0px rgba(202, 147, 96, 0.5);
}
main .sale .content .cards .card-1 img {
  width: 206px;
}
main .sale .content .cards .card-2 {
  border-radius: 4px;
  background: var(--main-secondary-muted, #e5ffde);
}
main .sale .content .cards .card-2:hover {
  box-shadow: 0px 8px 16px 0px rgba(211, 244, 200, 0.9);
}
main .map {
  padding-bottom: 120px;
}
main .map .title h5 {
  color: var(--main-on-surface, #414141);
  /* Desc/Header/M */
  font-family: Rubik;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 54px */
}
main .map .content {
  padding-top: 40px;
  padding-bottom: 24px;
  display: flex;
  align-items: center;
  gap: 24px;
}
main .map .content a {
  border-radius: 4px;
  background: var(--grayscale-lightest, #f3f2f1);
  padding: 8px;
  color: var(--grayscale-hardest, #606060);
  text-align: center;
  /* Desc/Text/XS */
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
  transition: 0.5s;
}
main .map .content a:hover {
  color: var(--main-on-secondary, #fff);
  background: var(--main-secondary, #70c05b);
}
main .map iframe {
  width: 100%;
}
main .articles .content {
  padding-bottom: 80px;
}
main .articles .content .cards .card {
  background: #fff;
  width: 376px;
  height: 420px;
  border-radius: 4px;
  overflow: hidden;
}
main .articles .content .cards .card .content {
  padding: 10px;
}
main .articles .content .cards .card .content p {
  color: var(--main-on-surface, #414141);
  /* Desc/Text/S */
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  padding: 10px 0;
}
main .articles .content .cards .card .content .date {
  color: var(--grayscale-hard, #8f8f8f);
  /* Desc/Text/XS */
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
  padding-bottom: 10px;
}
main .articles .content .cards .card .content b {
  color: var(--main-on-surface, #414141);
  /* Desc/Header/XS */
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 27px */
}
main .articles .content .cards .card .content a {
  border-radius: 4px;
  background: var(--main-secondary-muted, #e5ffde);
  color: var(--main-secondary, #70c05b);
  border: 0;
  text-align: center;
  /* Desc/Text/S */
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  padding: 8px 30px;
  transition: 0.5s;
}
main .articles .content .cards .card .content a:hover {
  border: 0;
  background: var(--main-secondary, #70c05b);
  color: #fff;
}
main .articles .content .cards .card:nth-child(2) .text {
  padding-bottom: 35px;
}
@media only screen and (max-width: 1285px) {
  main .hero .hero-contents h1 {
    font-size: 36px;
  }
}
@media only screen and (max-width: 1235px) {
  main .products .content .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 1015px) {
  main .hero .hero-contents {
    top: 0;
  }
  main .sale .content .cards {
    justify-content: center;
    flex-wrap: wrap;
  }
}

header {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
  z-index: 100;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
header nav a .logo2 {
  display: none;
}
header nav .items1 {
  display: grid;
  grid-template-columns: 1fr 11fr;
  gap: 16px;
}
header nav .items1 .catalog {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  border: 0;
  border-radius: 4px;
  background: var(--main-secondary, #70c05b);
  cursor: pointer;
}
header nav .items1 .catalog p {
  color: var(--main-on-secondary, #fff);
  text-align: center;
  /* Desc/Text/S */
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
header nav .items1 .search #text {
  background: url(../../assets/images/articles/search.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 100%;
  outline: navajowhite;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid var(--main-secondary, #70c05b);
  background: var(--main-surface, #fff);
  color: var(--grayscale-hard, #8f8f8f);
  /* Desc/Text/S */
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
header nav .items2 {
  display: flex;
  align-items: center;
  gap: 24px;
}
header nav .items2 .like {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
  border: 0;
  background: transparent;
}
header nav .items2 .like p {
  color: var(--main-on-surface, #414141);
  text-align: center;
  /* Desc/Text/XS */
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
header nav .items2 .product {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
  border: 0;
  background: transparent;
}
header nav .items2 .product p {
  color: var(--main-on-surface, #414141);
  text-align: center;
  /* Desc/Text/XS */
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
header nav .items2 .shopping {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
  border: 0;
  background: transparent;
}
header nav .items2 .shopping p {
  color: var(--main-on-surface, #414141);
  text-align: center;
  /* Desc/Text/XS */
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
header nav .items2 .support {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  cursor: pointer;
}
header nav .items2 .support p {
  color: var(--onSurface, #232323);
  /* Desc/Text/S */
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
@media only screen and (max-width: 1010px) {
  header nav a .logo1 {
    display: none;
  }
  header nav a .logo2 {
    display: block;
  }
  header nav .items1 .catalog p {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  header nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  header nav .items1 {
    display: grid;
    grid-template-columns: 12fr;
  }
  header nav .items1 .catalog {
    display: none;
  }
  header nav .items1 #text {
    width: 100%;
  }
  header nav .items2 {
    display: none;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    background: #fff;
    bottom: -450px;
    left: 0;
    right: 0;
    padding: 0 10px;
  }
}

@font-face {
  font-family: Rubik;
  src: url(../../assets/fonts/Rubik-Regular.ttf);
}
.footer {
  height: 125px;
  background: #f9edbe;
}
.footer .content {
  display: flex;
  align-items: center;
  overflow-x: hidden;
}
.footer .content img {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding-top: 97px;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

.items-2 {
  width: 100%;
  background: #fff;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  padding: 0 10px;
  left: 0;
  right: 0;
  bottom: 0;
}
.items-2 .like {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
  border: 0;
  background: transparent;
}
.items-2 .like p {
  color: var(--main-on-surface, #414141);
  text-align: center;
  /* Desc/Text/XS */
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
.items-2 .product {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
  border: 0;
  background: transparent;
}
.items-2 .product p {
  color: var(--main-on-surface, #414141);
  text-align: center;
  /* Desc/Text/XS */
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
.items-2 .shopping {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
  border: 0;
  background: transparent;
}
.items-2 .shopping p {
  color: var(--main-on-surface, #414141);
  text-align: center;
  /* Desc/Text/XS */
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
.items-2 .support {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  cursor: pointer;
}
.items-2 .support p {
  color: var(--onSurface, #232323);
  /* Desc/Text/S */
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}/*# sourceMappingURL=main.css.map */