main {
  background: var(--main-bg-page, #fbf8ec);
}
main .hero {
  background: #fff;
  display: flex;
  overflow-x: hidden;
  position: relative;
}
main .hero .hero-contents {
  position: absolute;
  left: 215px;
  display: flex;
  align-items: center;
  gap: 18px;
}
main .hero .hero-contents h1 {
  color: var(--main-on-surface, #414141);
  text-align: center;
  /* Desc/Header/L */
  font-family: Rubik;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 72px */
}
main .products .content .link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 40px;
}
main .products .content .link h2 {
  color: var(--main-on-surface, #414141);
  /* Desc/Header/M */
  font-family: Rubik;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 54px */
}
main .products .content .link a {
  color: var(--grayscale-hardest, #606060);
  text-align: center;
  /* Desc/Text/S */
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
main .products .content .cards {
  padding-bottom: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
main .products .content .cards .card {
  border-radius: 4px;
  background: var(--main-surface, #fff);
  /* Default/XS */
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
  width: 272px;
  padding-bottom: 8px;
}
main .products .content .cards .card .content {
  padding: 8px;
}
main .products .content .cards .card .content .prices {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .products .content .cards .card .content .prices .text h3 {
  color: var(--grayscale-hardest, #606060);
  /* Desc/Text/S */
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
main .products .content .cards .card .content .prices .text h3 b {
  color: var(--main-on-surface, #414141);
  /* Desc/Text-Bold/M */
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 27px */
}
main .products .content .cards .card .content .prices .text p {
  color: #bfbfbf;
  /* Desc/Text/XS */
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
main .products .content .cards .card .content p {
  color: var(--main-on-surface, #414141);
  /* Desc/Text/S */
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  padding: 8px 0;
}
main .products .content .cards .card .content a {
  padding: 8px 88px;
  border-radius: 4px;
  border: 1px solid var(--main-secondary, #70c05b);
  color: var(--main-secondary, #70c05b);
  text-align: center;
  /* Desc/Text/S */
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  transition: 0.5s;
}
main .products .content .cards .card .content a:hover {
  color: #fff;
  background: var(--main-primary, #f63);
  border: 1px solid #f63;
}

header {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
  z-index: 100;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
header nav .items1 {
  display: grid;
  grid-template-columns: 1fr 11fr;
  gap: 16px;
}
header nav .items1 .catalog {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  border: 0;
  border-radius: 4px;
  background: var(--main-secondary, #70c05b);
  cursor: pointer;
}
header nav .items1 .catalog p {
  color: var(--main-on-secondary, #fff);
  text-align: center;
  /* Desc/Text/S */
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
header nav .items1 .search #text {
  background: url(../../assets/images/articles/search.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 100%;
  outline: navajowhite;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid var(--main-secondary, #70c05b);
  background: var(--main-surface, #fff);
  color: var(--grayscale-hard, #8f8f8f);
  /* Desc/Text/S */
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
header nav .items2 {
  display: flex;
  align-items: center;
  gap: 24px;
}
header nav .items2 .like {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
  border: 0;
  background: transparent;
}
header nav .items2 .like p {
  color: var(--main-on-surface, #414141);
  text-align: center;
  /* Desc/Text/XS */
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
header nav .items2 .product {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
  border: 0;
  background: transparent;
}
header nav .items2 .product p {
  color: var(--main-on-surface, #414141);
  text-align: center;
  /* Desc/Text/XS */
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
header nav .items2 .shopping {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
  border: 0;
  background: transparent;
}
header nav .items2 .shopping p {
  color: var(--main-on-surface, #414141);
  text-align: center;
  /* Desc/Text/XS */
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
header nav .items2 .support {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  cursor: pointer;
}
header nav .items2 .support p {
  color: var(--onSurface, #232323);
  /* Desc/Text/S */
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

@font-face {
  font-family: Rubik;
  src: url(../../assets/fonts/Rubik-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding-top: 97px;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */